doctype html
html(lang="en")
  head
    title 404 Error
    style
      include error.css 
  body 
    include navbar
    main
        h1 Someone Goofed. That resource doesn't exist
        img(src="./Patrick.jpg", alt="Patrick Star calling for backup with a cone on his head").patrick