html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    width: 80%;
    margin: 0 auto;

}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}




img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.6);
}