html
  head
    style
      include styles.css
    title= title
    body 
    div#control
      span#locationMainButton.location
      span#typeMainButton.type
      span#dateMain 7 Days
    main
    section#calls

    script 
      include index.js
