button {
    border: none;
}

.card {
    border-radius: 6px;
    padding: 10px;

    margin: 2rem 0;
    width: fit-content;

    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);



}

.roundButton {
    border-radius: 12px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
    padding: 4px 5px 4px 12px;
    width: fit-content;
    transition: background-color 0.5s ease-in-out;
    margin-right: 10px;
}

.type::after {
    content: "+";
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
    background-color: rgba(255, 0, 0, .3);
    border-radius: 50%;
    padding: 1px 3.5px .75px 4px;
    margin-left: 10px;
}

.type::after:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);

}

#typeMainButton::after {
    content: "\2715";
    padding: 3.5px 4px .75px 4px;
    font-size: 12px;

}

#locationMainButton::after {
    content: "\2715";
    padding: 3.5px 4px .75px 4px;
    font-size: 12px;

}

.location::after {
    content: "+";
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
    background-color: rgba(0, 255, 0, .3);
    border-radius: 50%;
    padding: 1px 3.5px .75px 4px;
    margin-left: 10px;
}

.location::after:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);

}



.type {
    background-color: rgba(255, 0, 0, .1);
}

.type:hover {
    background-color: rgba(255, 0, 0, .3);
}

.location {
    background-color: rgba(0, 255, 0, .1);
}

.location:hover {
    background-color: rgba(0, 255, 0, .3);
}




.callGroupSub {
    display: flex;
    flex-direction: row;
    gap: .5rem;

}


#typeMainButton {
    display: none;
}

#locationMainButton {
    display: none;
}

#typeMain {
    display: none;
}

#locationMain {
    display: none;
}


.typeContainer,
.locationContainer {
    margin-top: 15px;
}

.locationContainer :nth-child(2),
.typeContainer :nth-child(2) {
    font-size: 13px;
    font-weight: 600;
}

.date label {
    color: blue;
}

#dateStart,
#dateEnd {
    background: none;
    border: 1px solid blue;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
    color: blue;
    padding: 4px 8px;
}

#sortDirection:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

#dateSet,
#sortSet {
    background: blue;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
    color: white;
    padding: 5px 9px;
}

#dateSet:hover,
#sortSet:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

#sortDirection,
#sortCategory {
    border: 1px solid blue;
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
    color: blue;
    padding: 4px 8px;

}

#control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: left;

}

.date,
.sort {
    display: flex;
    gap: .5rem;
    align-items: center;
}



.filter {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-items: left;


}

.filter div {
    color: blue;
}

.filter button {
    margin-left: 10px;
}