<div class="card">
    <div id="control" class="control">
        <div class="date">
            <button (click)="setPastDay()" [class.selected]="selectedDateOption === 'pastDay'">Past Day</button>
            <button (click)="setPastWeek()" [class.selected]="selectedDateOption === 'pastWeek'">Past Week</button>
            <button (click)="setPastMonth()" [class.selected]="selectedDateOption === 'pastMonth'">Past Month</button>
            <!-- <span>From:</span>
            <input type="date" [(ngModel)]="query.dateStart" name="startDate" (ngModelChange)="setDates()">

            <span>To:</span>

            <input type="date" [(ngModel)]="query.dateEnd" name="endDate" (ngModelChange)="setDates()"> -->
        </div>

        <div class="sort">
            <span>Sort:</span>
            <select id="sortCategory" [(ngModel)]="query.sort" name="selectedSortCategory" (ngModelChange)="setSort()">
                <option value="datetime">Date / Time</option>
                <option value="typeCount">Type Count</option>
                <option value="locationCount">Location Count</option>
                <option value="neighborhoodCount">Neighborhood Count</option>
                <option value="neighborhood">Neighborhood A-Z</option>
                <option value="location">Location A-Z</option>
                <option value="type">Type A-Z</option>
            </select>

            <button id="sortDirection" (click)="toggleSortDirection()">
                <span>{{ getArrowIcon() }}</span>
            </button>
        </div>

        <div class="filter">
            <p class="callCount">{{callCount}} call{{ callCount> 1 || callCount == 0? 's' : '' }} being
                displayed
            </p>
            <div class="typeContainer">
                <ng-container *ngIf="query.type">
                    <button id="typeMainButton" class="type buttonBox" (click)="clearType()">{{ query.type
                        }}</button> </ng-container>

            </div>
            <div class="locationContainer">
                <ng-container *ngIf="query.location">
                    <button id="locationMainButton" class="location buttonBox" (click)="clearLocation()">{{
                        query.location }}</button> </ng-container>
            </div>
            <div class="neighborhoodContainer">
                <ng-container *ngIf="query.neighborhood">
                    <button id="neighborhoodMainButton" class="neighborhood buttonBox" (click)="clearNeighborhood()">{{
                        query.neighborhood }}</button> </ng-container>
            </div>
        </div>

    </div>
    <div class="buttons">
        <button id="reset" class="buttonBox" (click)="resetQuery()">Reset</button>
    </div>


</div>