<section>
    <div *ngFor="let call of calls">
        <div class="card">
            <div>{{ call.time }} --- {{ call.date }}</div>
            <ng-container *ngIf="!query.type">
                <div class="typeContainer">
                    <button class="type buttonBox" (click)="updateQueryWithType(call.type)">{{ call.type }}</button>
                    <span>{{ call.typeCount }} call{{ call.typeCount > 1 ? 's' : '' }} of this type</span>
                </div>
            </ng-container>
            <ng-container *ngIf="!query.location">
                <div class="locationContainer">
                    <button class="location buttonBox" (click)="updateQueryWithLocation(call.location)">{{ call.location
                        }}</button>
                    <span>{{ call.locationCount }} call{{ call.locationCount > 1 ? 's' : '' }} from this location</span>
                </div>
            </ng-container>
            <ng-container *ngIf="!query.neighborhood">
                <div class="neighborhoodContainer">
                    <button class="neighborhood buttonBox" (click)="updateQueryWithNeighborhood(call.neighborhood)">{{
                        call.neighborhood }}</button>
                    <span>{{ call.neighborhoodCount }} call{{ call.neighborhoodCount > 1 ? 's' : '' }} from {{
                        call.neighborhood }}</span>
                </div>
            </ng-container>
        </div>
    </div>
</section>